.modal {
    position: fixed;
    background-color: rgba(32, 35, 41, 0.8);
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .containerModal {
    height: 30rem;
    width: 80%;
    background-image: url(../assets/fondom.jpg);
    border-radius: 5px;
    position: relative;
    overflow-y: scroll;
       
  }
  #title {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/fondom.jpg);
    border-radius: 5px 5px 0 0;
    font-size: 2rem;
    font-family: 'Ruda', sans-serif;
}

.close {
    top: -2px;
    right: -2px;
    border: none;
    background: none;
    color:#000000;
    font-size: 3rem;
    position: absolute;
    cursor: pointer;
  }

  .iconColor-deleted {
      color: #D80000;
      margin-bottom:-4px;
  }

  .iconColor-completed {
    color: #0FA958;
    margin-bottom:-4px;
}
  
  .modalFil {
    text-align: center;
    display:flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .modalFilter p {
     text-align: left;
     align-items: center;
  }

 
  