 .input-button {
      margin-right: 50px;
    }
input{
    min-width: 130px;
  
}
.ui.grid>.row>.column{
    padding: 0px;
}


.ui.red.button{
    margin: 0px 20px;
}

h2.ui.header{
    font-family: 'Ruda', sans-serif;
    text-align: left;
}


.butons{
    display: flex;
}


@media only screen and (max-width: 700px) {
	    
   
        h2.ui.header{
            font-size: 20px;
        }

        .ui.grid>.row{
            padding: 10px 0px;
            justify-content: space-around;
        }

        .ui.red.button{
            margin: 0px 10px;
        }

        
    }